
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{config.name}} - {{action.name}} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
canvas {
    display: none;
}
video, img, #startbutton {
    display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;
	width: 200px;

}
#startbutton {
    background: green;
    border: none;
    color: #fff;
    margin: 100px 20px 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
}
        </style>
    <!-- jQuery include (http://jquery.com/) -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<!-- Include all compiled Bootstrap plugins (http://getbootstrap.com/) -->
	<script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
	<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
	<script src="/static/js/respond.min.js"></script>
	<!-- Holder renders image placeholders entirely on the client side (http://imsky.github.io/holder/) -->
	<script src="/static/js/holder.js"></script>

	<link rel="stylesheet" href="/static/css/ladda-themeless.min.css">
	<script src="/static/js/spin.min.js"></script>
	<script src="/static/js/ladda.min.js"></script>
</head>
<body style="background-color:#{{config.bgcolor}}">

	  <div class="row">
    <div class="col-md-4 col-md-offset-2">
		<img align="right" src="{{config.logo}}"></img>
		<h1>{{config.name}}</h1>
		<h1>{{action.name}}</h1>
        <div class="user-image">
                <!--img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" class="img-circle"-->
				
		</div>
      <form class="form-horizontal" action="/{{action.url}}" method="post" enctype="multipart/form-data">
        <fieldset>

          <!-- Form Name -->
          <legend>Personal Details</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Identifier</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Identifier" name="Identity.SubjectID" class="form-control" value="I1">
            </div>
          </div>

		  <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Request Exchange</label>
            <div class="col-sm-4">
          <select>
			<option value="Drivers Licences">BALI PROCESS IMMIGRATION (GROUP) </option>
			<option value="Passports">AUSTRALIAN_IMMIGRATION</option>
			<option value="Immigration">THAILAND_IMMIGRATION</option>
			<option value="Immigration">INDONESIAN_IMMIGRATION </option>
		</select>
			</div>

            <label class="col-sm-2 control-label" for="textinput">Request Locations</label>
            <div class="col-sm-4">
          <select>
			<option value="all" selected>All</option>
			<option value="Drivers Licences">- South East Asia</option>
			<option value="Passports">- Asia Pacific </option>
			<option value="Immigration">- Pacific</option>
		</select>
			</div>
		  </div>

          <div class="form-group">
           <label class="col-sm-2 control-label" for="textinput">Upload image</label>
           <div class="col-sm-10"><input type="file" accept="*.eft" capture="camera" name="image"></div>
          </div>




          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default ">Cancel</button>
                <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left">Submit</button>
              </div>
            </div>
          </div>
		<input type="hidden"  name="cameraImage" id="cameraImage">
        <input type="hidden" name="cameraImage2" id="cameraImage2" value="blah">
        </fieldset>

      </form>
    </div><!-- /.col-lg-12 -->

</body>
<script>
	
Ladda.bind( 'button[type=submit]' );
</script>
</html>
